{% extends "base.html" %}
{% block content %}
    {% if login_error %}
    <div class="alert alert-danger" id="login_error" role="alert">
      {{ login_error }}
    </div>
    {% endif %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <h1 id="login_title">Realize login para acessar a aplicação!</h1>
            <div class="form-group">
                <label for="id_username">Usuário</label>
                <input type="text" class="form-control" id="id_username" name="username" placeholder="Digite seu usuário">
            </div>
            <div class="form-group">
                <label for="id_password">Senha</label>
                <input type="password" class="form-control" id="id_password" name="password" placeholder="Digite sua senha">
            </div>
            <button id="submit_login" type="submit" class="btn btn-dark float-right">Login</button>
        </form>
    </div>
{% endblock content %}