{% extends 'base.html' %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 id="upload_title">Realize o upload do seu arquivo!</h1>
    {% if files %}
        <hr class="my-4">
        <p id="id_uploaded_files_title" class="font-weight-bold">Arquivos armazenados:</p>
        {% for file in files %}
            <a href="{{ file.attachment.url }}" class="uploaded_files w-100">{{ file.attachment }}</a>
        {% endfor %}
    {% endif %}
    <hr class="my-4">
    <p id="id_upload_file_title" class="font-weight-bold">Arquivo:</p>
    {{ form.attachment }}
    <button id="save_file" type="submit" class="btn btn-dark float-right">Salvar Arquivo</button>
</form>
{% endblock %}